:root {
    --white: #FFF8DC;
    --background: #FFFFFF;
    --box: #F6F6F6;
    --box2: #FBE0C5;
    --text: #40210F;
    --text2: #2A2A2A;
    --line: #40210F;
    --btnline: #FFFFFF;
    --background2: #FBE0C5;
    --btn: #2A2A2A;
    --btnhover: #D96253;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:link a:visited {
    color: var(--white)
}

.ROW {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin-top: 100px;
    background-color: var(--background);
}

header {
    height: 80px;
    padding: 7px;
    color: #090505;
    border-radius: 7px;
    box-shadow: 0px 12px 9px -7px;
    background-color: var(--background);
    overflow: hidden;
    margin-bottom: 10px;
}

#label {
    margin-top: 7px;
}

#tool {
    padding: 14px 3% 0px 3%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#searchBar {
    display: flex;
    flex-direction: row;
    /* 垂直排列内容 */
    justify-content: center;
    /* 垂直居中对齐 */
    grid-gap: 7px;
    margin-bottom: 15px;
}

.icon {
    height: 20px;
    width: 20px;
}

.icon:hover {
    height: 22px;
    width: 22px;
}

#run {
    font-size: 13px;
}

/* main {
    display: flex;
    justify-content: space-between;
    height: 610px;
} */


#interested_product {
    height: 400px;
    /* 將設計要異動的 */
    width: 100%;
    border-radius: 7px;
    background-color: var(--background);
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

#info {
    height: 400px;
    width: 50%;
    font-size: 20px;
}

#picture1 {
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title_select {
    height: 90px;
    width: 100%;
    margin-top: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

#title {
    height: 70px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: var(--background);
}

#select {
    height: 70px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 7px;
    transition: 0.3s ease;
}

#select:hover {
    font-size: large;
    transition: 0.3s ease;
}

#paragraph {
    height: 280px;
    width: 100%;
    padding: 20px;

}

#may_interesteds {
    height: 250px;
    /* 將設計要異動的 */
    width: 100%;
    border-radius: 7px;
    background-color: var(--background);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;

}

#item2 {
    height: 200px;
    width: 25%;
    /* border-right: 1px solid grey; */
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.3s ease;
}

#item2:hover {
    height: 200px;
    width: 27%;
    padding: 0 1% 0 1%;
    transition: 0.3s ease;
}

#title2 {
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

#picture2 {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

#paragraph2 {
    height: 50px;
    width: 90%;
    /* border: 2px solid black; */
}






/* 以下五個都是for回溯鍵的 */
#toTop {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(228, 225, 225);
    position: sticky;
    bottom: 20px;
    right: 20px;
    float: right;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#toTop.active {
    opacity: 1;
}

#top {
    top: 0;
}

#top:target {
    animation: toTop 5s ease;
}

@keyframes toTop {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

/* 回溯鍵至此 */

/* footer */
footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: slategrey;
    font-size: 10px;
}

#cont,
#editing_page {
    padding-top: 10px;
    color: slategrey;
    text-decoration: none;
    /* 超連結去除底線 */
}

@media(max-width:680px) {
    header {
        font-size: 12px;
        height: 110px;
        padding: 7px;
        background-color: var(--background);
    }

    #label {
        display: none;
    }

    #search {
        width: 70px;
    }

    #interested_product {
        height: 400px;
        width: 100%;
        border-radius: 7px;
        background-color: var(--background);
        margin-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #main_pic {
        height: 220px;
        width: 220px;
    }

    #info {
        height: 300px;
        width: 80%;
        font-size: 15px;
    }

    #select {
        min-width: 80px;
    }

    #may_interesteds {
        height: 250px;
        /* 將設計要異動的 */
        width: 100%;
        border-radius: 7px;
        background-color: var(--background);
        padding: 15px;
        display: flex;
        justify-content: space-around;
        overflow: scroll;
        font-size: 15px;
    }
}