:root {
  --white: #FFF8DC;
  --background: #FFFFFF;
  --box: #F6F6F6;
  --box2: #FBE0C5;
  --text: #40210F;
  --text2: #2A2A2A;
  --line: #40210F;
  --btnline: #FFFFFF;
  --background2: #FBE0C5;
  --btn: #2A2A2A;
  --btnhover: #D96253;
}

* {
  box-sizing: border-box;
  /* background-color: var(--background);
    color: var(--text); */
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: none;
}

a:link a:visited {
  color: var(--white)
}

main {
  margin-top: 80px;
  padding-left: 10px;
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--box);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 7px;
  color: var(--text);
  /* box-shadow: 0px 12px 9px -7px; */
  background-color: var(--background);
  overflow: hidden;
  z-index: 9999;
}

#label {
  margin-top: 7px;
}

/* 製作跑馬燈 */
#ad {
  width: 80%;
  white-space: nowrap;
  /* overflow: hidden; */
  text-align: center;
}

#inad {
  display: inline-block;
  animation: ad 10s linear infinite;
}

@keyframes ad {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* 跑馬燈碼至此 */

#tool {
  padding: 14px 3% 0px 3%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#searchBar {
  display: flex;
  flex-direction: row;
  /* 垂直排列内容 */
  justify-content: center;
  /* 垂直居中對齊 */
  grid-gap: 7px;
  margin-top: -8px;
}

.logo {
  height: 40px;
  width: 115px;
  margin-top: -10px;
}

.icon {
  height: 20px;
  width: 20px;
}

.icon:hover {
  height: 22px;
  width: 22px;
}

#nav {
  /* width: 100%; */
  height: 30px;
  padding: 0;
  margin-top: 85px;
  border-radius: 7px;
  display: flex;
  font-size: small;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  height: 26px;
  background-color: #DEB887;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  transition: 0.3s ease;
}

#info0 {
  height: 46px;
  background-color: #e3d955;
  transition: 0.3s ease;
}

.info:hover,
#info0:hover {
  height: auto;
  padding-bottom: 25px;
  /* overflow:visible; */
  transition: 0.3s ease;
}

.block {
  display: block;
}

.none {
  display: none;
}

.products_ul {
  border: 3px solid red;
  width: auto;
}

#greatPromotion {
  height: 260px;
  width: 100%;
  overflow: hidden;
  margin: 15px 0 10px 0;
}

.carousel-item>img {
  height: 255px;
}

#interested {
  height: 330px;
  border-radius: 7px;
  padding-top: 10px;
}

#interested_title {
  margin: -10px 0 -10px 0;
  height: 10px;
  width: 30%;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  /* 垂直排列内容 */
  justify-content: center;
  /* 垂直居中對齊 */
  text-align: center;
  border-radius: 40px 10px 40px 10px;
  background-color: var(--box2);
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
}

#likeGuyIcon {
  margin-bottom: -20px;
}

#interest_intems {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  /* 隱藏滾動條但保留滾動功能 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

/* 隱藏 Webkit 瀏覽器（Chrome, Safari, Edge）的滾動條 */
#interest_intems::-webkit-scrollbar {
  display: none;
}

#interest_intems>a {
  margin: 20px;
}

#items {
  height: 250px;
  grid-gap: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  /* overflow: hidden; */
}

button {
  border: none;
}

#item,
#item_interested {
  width: 180px;
  height: 210px;
  padding: 7px;
  text-align: center;
  background-color: var(--background);
  font-size: 13px;
  overflow: hidden;
  transition: 0.3s ease;
}

#item>img {
  height: 210px;
  width: 180px;
}

#item:hover,
#item_interested:hover {
  box-shadow: 9px 12px 9px -7px;
  transition: 0.3s ease;
}

#item_interested {
  border: 1px solid var(--line);
  padding-top: 0px;
}


#level1,
#level2 {
  display: flex;
  justify-content: center;
}

#price1 {
  text-decoration-line: line-through;
}

#normal {
  margin-top: 15px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
}

#normal_for_cellphone {
  display: none;
}

.product-row {
  width: 65%;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

#normal>div {
  text-align: center;
  padding: 5px;
}

#level {
  display: flex;
}

#footer {
  margin-bottom: -50px;
  height: 150px;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  color: var(--text);
  background-color: var(--background2);
  font-size: 10px;
}

#footer_small {
  display: none;
}

#cont,
#editing_page {
  padding-top: 10px;
  color: slategrey;
  text-decoration: none;
  /* 超連結去除底線 */
}

#chatbot {
  position: sticky;
  bottom: 20px;
  right: 120px;
  float: right;
  cursor: pointer;
}

#chatbot_img {
  height: 50px;
  width: 50px;
}

/* 以下五個都是for回溯鍵的 */
#toTop {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(228, 225, 225);
  position: sticky;
  bottom: 20px;
  right: 20px;
  float: right;
  padding-top: 7px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#toTop.active {
  opacity: 1;
}

#top {
  top: 0;
}

#top:target {
  animation: toTop 5s ease;
}

@keyframes toTop {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

/* 回溯鍵至此 */

/* 各種中間要大不小的版本 */
@media(max-width:1350px) {
  #interest_intems {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    /* 隱藏滾動條但保留滾動功能 */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }

  /* 隱藏 Webkit 瀏覽器（Chrome, Safari, Edge）的滾動條 */
  #interest_intems::-webkit-scrollbar {
    display: none;
  }
}

/* 手機 mobilephone */


@media(max-width:700px) {
  header {
    font-size: 12px;
    height: 80px;
  }

  #tool {
    padding: 14px 0% 0px 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    height: 35px;
    width: 85px;
    margin-top: -10px;
  }

  .icon {
    height: 15px;
    width: 15px;
  }

  .icon:hover,
  .icon:focus {
    height: 16px;
    width: 16px;
  }

  #searchBar {
    margin-top: 0;
  }

  #label {
    display: none;
  }

  #search {
    width: 70px;
    font-size: x-small;
  }

  .carousel-item>img {
    height: 100px;
  }

  #normal {
    display: none;
  }

  #normal_for_cellphone {
    display: block;
    margin-top: -130px;
    margin-bottom: 60px;
    margin-left: 5%;
  }

  .product-row {
    margin-bottom: 30px;
  }

  #interested {
    height: 270px;
  }

  #interested_title {
    height: 30px;
    padding-top: 15px;
    margin-bottom: 5px;
  }
  #interested_title>p {
    padding-left: 45px;
  }

  #interest_intems {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    justify-content: flex-start;
    /* 隱藏滾動條但保留滾動功能 */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }

  /* 隱藏 Webkit 瀏覽器（Chrome, Safari, Edge）的滾動條 */
  #interest_intems::-webkit-scrollbar {
    display: none;
  }

  #interest_intems>a {
    margin: 2px;
  }


  #item {
    height: 90px;
    width: 80px;
    background-color: var(--background);
    margin: 0 0 -40px -10px;
  }

  #item>img {
    height: 70px;
    width: 60px;
  }

  #footer {
    display: none;
  }

  #footer_small {
    display: block;
    margin-bottom: -50px;
    height: 150px;
    width: 100%;
    padding-top: 15px;
    display: flex;
    color: var(--text);
    background-color: var(--background2);
    font-size: 10px;
    flex-direction: column;
    align-items: center;
  }

  @media(max-width:580px) {
    #nav {
      font-size: x-small;
    }
  }
  @media(max-width:426px) {
      #normal_for_cellphone {
        display: block;
        margin-top: -130px;
        margin-bottom: 60px;
        margin-left: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

  @media(max-width:321px) {
    .logo {
      margin-left: -10px;
    }

    #normal_for_cellphone {
      margin-left: -20%;
    }
  }

  @media only screen and (min-width: 0px) {
    .col-mobile-0 {
      width: 0;
    }

    .col-mobile-12 {
      width: 100.0%
    }
  }

  /* 桌機 desktop */
  /* @media only screen and (min-width:700px) {
    .col-pc-0 {
      width: 0;
    }
    
    .col-pc-1 {
      width: 8.33%
    }
  
    .col-pc-2 {
      width: 16.66%
    }
  
    .col-pc-3 {
      width: 25.00%
    }
  
    .col-pc-4 {
      width: 33.33%
    }
  
    .col-pc-5 {
      width: 41.66%
    }
  
    .col-pc-6 {
      width: 50.00%
    }
  
    .col-pc-7 {
      width: 58.33%
    }
  
    .col-pc-8 {
      width: 66.66%
    }
  
    .col-d-9 {
      width: 75.00%
    }
  
    .col-pc-10 {
      width: 83.33%
    }
  
    .col-pc-11 {
      width: 91.66%
    }
  
    .col-pc-12 {
      width: 100.0%
    }
  } */